@{
    ViewBag.Title = "Anasayfa";
}

<!DOCTYPE html>
    <html lang="en">

        <head>

        </head>

        <body>

            <div class="site-content">
                <div class="site-header">
                    <div class="container">
                        <a href="~/Home/Index" class="branding">
                            <img src="~/images/logo.png" alt="" class="logo">
                            <div class="logo-type">
                                <h1 class="site-title">HAVA DURUMU TAHMİN UYGULAMASI</h1>
                                <small class="site-description">Kütahya Dumlupınar Üniversitesi</small>
                            </div>
                        </a>

                        <!-- Default snippet for navigation -->
                        <div class="main-navigation">
                            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                            <ul class="menu">
                                <li class="menu-item current-menu-item">@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                                <li class="menu-item">@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                                <li class="menu-item">@Html.ActionLink("İletişim", "Contact", "Home")</li>
                            </ul> <!-- .menu -->
                        </div> <!-- .main-navigation -->

                        <div class="mobile-navigation"></div>

                    </div>
                </div> <!-- .site-header -->

                <div class="hero">
                    <div class="container">
                        <h1 class="site-title">KÜTAHYA ŞEHRİ İÇİN HAVA DURUMU TAHMİNİ</h1>
                    </div>
                </div>

                <div class="forecast-table">
                    <div class="container">
                        <div class="forecast-container">
                            <div class="today forecast">
                                <div class="forecast-header">
                                    <div class="day">Monday</div>
                                    <div class="date">6 Oct</div>
                                </div> <!-- .forecast-header -->
                                <div class="forecast-content">
                                    <div class="location">Kütahya / Türkiye</div>
                                    <div class="degree">
                                        <div class="num">23<sup>o</sup>C</div>
                                        <div class="forecast-icon">
                                            <img src="~/images/icons/icon-1.svg" alt="" width=90>
                                        </div>
                                    </div>
                                    <span><img src="~/images/icon-umberella.png" alt="">20%</span>
                                    <span><img src="~/images/icon-wind.png" alt="">18km/h</span>
                                    <span><img src="~/images/icon-compass.png" alt="">Doğu</span>
                                </div>
                            </div>
                            <div class="forecast">
                                <div class="forecast-header">
                                    <div class="day">Tuesday</div>
                                </div> <!-- .forecast-header -->
                                <div class="forecast-content">
                                    <div class="forecast-icon">
                                        <img src="~/images/icons/icon-3.svg" alt="" width=48>
                                    </div>
                                    <div class="degree">23<sup>o</sup>C</div>
                                    <small>18<sup>o</sup></small>
                                </div>
                            </div>
                            <div class="forecast">
                                <div class="forecast-header">
                                    <div class="day">Wednesday</div>
                                </div> <!-- .forecast-header -->
                                <div class="forecast-content">
                                    <div class="forecast-icon">
                                        <img src="~/images/icons/icon-5.svg" alt="" width=48>
                                    </div>
                                    <div class="degree">23<sup>o</sup>C</div>
                                    <small>18<sup>o</sup></small>
                                </div>
                            </div>
                            <div class="forecast">
                                <div class="forecast-header">
                                    <div class="day">Thursday</div>
                                </div> <!-- .forecast-header -->
                                <div class="forecast-content">
                                    <div class="forecast-icon">
                                        <img src="~/images/icons/icon-7.svg" alt="" width=48>
                                    </div>
                                    <div class="degree">23<sup>o</sup>C</div>
                                    <small>18<sup>o</sup></small>
                                </div>
                            </div>
                            <div class="forecast">
                                <div class="forecast-header">
                                    <div class="day">Friday</div>
                                </div> <!-- .forecast-header -->
                                <div class="forecast-content">
                                    <div class="forecast-icon">
                                        <img src="~/images/icons/icon-12.svg" alt="" width=48>
                                    </div>
                                    <div class="degree">23<sup>o</sup>C</div>
                                    <small>18<sup>o</sup></small>
                                </div>
                            </div>
                            <div class="forecast">
                                <div class="forecast-header">
                                    <div class="day">Saturday</div>
                                </div> <!-- .forecast-header -->
                                <div class="forecast-content">
                                    <div class="forecast-icon">
                                        <img src="~/images/icons/icon-13.svg" alt="" width=48>
                                    </div>
                                    <div class="degree">23<sup>o</sup>C</div>
                                    <small>18<sup>o</sup></small>
                                </div>
                            </div>
                            <div class="forecast">
                                <div class="forecast-header">
                                    <div class="day">Sunday</div>
                                </div> <!-- .forecast-header -->
                                <div class="forecast-content">
                                    <div class="forecast-icon">
                                        <img src="~/images/icons/icon-14.svg" alt="" width=48>
                                    </div>
                                    <div class="degree">23<sup>o</sup>C</div>
                                    <small>18<sup>o</sup></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="js/jquery-1.11.1.min.js"></script>
            <script src="js/plugins.js"></script>
            <script src="js/app.js"></script>

        </body>
    </html>
